
<div class="container-fluid tribe" ng-controller="TribeCtrl as tribe">
<div class="image">

    <div class="row createTribeView">
	<!-- <h1>Create Your Tribe</h1> -->
    </div>
	<form ng-click="tribe.template()" class="form-horizontal" validate>
		<div class="form-group" class="row">
			<div class="row">
    	<label for="tribeName" class="col-xs-6 control-label"></label>
    	</div>
    	<div class="row">
        <div>
     		  <div class="col-sm-4" class="template popover">
     		  	<img  src="roles/PD1.png" alt="..." class="img-rounded" class="center-block">
     		  	<input type="radio" name="options" class="center-block" ng-model="tribe.imgtemplate" value="PD1">
    	 	 </div>
					<div class="col-sm-4" class="template popover">
            <img src="roles/PD2.png" alt="..." class="img-rounded" class="center-block">
            <input type="radio" name="options" class="center-block" ng-model="tribe.imgtemplate" value="PD2">
        	</div>
        	<div class="col-sm-4" class="template popover">
						<img src="roles/PD3.png" alt="..." class="img-rounded" class="center-block">
						<input type="radio" name="options" class="center-block" ng-model="tribe.imgtemplate" value="PD3">
        	</div>
        </div>
      </div>
    </div>
    </form>


    <div id="words">
    <div id="wordsContainer">
    </div>
    </div>
    <!-- <div id="bird2">
    <div id="bird2Container">
    </div>
    </div>
 -->

    <form ng-submit="tribe.create()" class="form-horizontal" validate>

       <!--  <input type="submit" value="Submit"> -->
       <button type="submit" class="btn btn-primary btn-lg submitBtn" value="submit" ng-click="tribe.create()">Choose</button>
    <div class="form-group" class="row">
  		<div class="row">
  		<label for="invite" class="col-xs-6 control-label"></label>
     	</div>
     	<div class="row">
     	<div class="col-xs-6">
     		<input type="text" ng-model="tribe.invite1" class="form-control" id="invite" placeholder="enter friend's email address">
     	</div>
     	</div>
     	<div class="row">
     	<div class="col-xs-6">
     		<input type="text" ng-model="tribe.invite2" class="form-control" id="invite" placeholder="enter friend's email address">
     	</div>
     	</div>
     	<div class="row">
     	<div class="col-xs-6">
     		<input type="text" ng-model="tribe.invite3" class="form-control" id="invite" placeholder="enter friend's email address">
     	</div>
     	</div>


		</div>

       <!--  <input type="submit" value="Submit"> -->
	</form>
</div>
</div>
