<div class="container-fluid" ng-controller="TribeCtrl as tribe">
    <div class="row">
	<h1>Create Your Tribe</h1>
    </div>
	<form ng-click="tribe.template()" class="form-horizontal" validate>
		<div class="form-group" class="row">
			<div class="row">
    	<label for="tribeName" class="col-xs-6 control-label">Choose your warrior's template</label>
    	</div>
    	<div class="row">
        <div>
     		  <div class="col-sm-4" class="template">
     		  	<img  src="/roles/template1.png" alt="..." class="img-rounded" class="center-block">
     		  	<input type="radio" name="options" class="center-block" ng-model="tribe.imgtemplate" value="1">
    	 	 </div>
					<div class="col-sm-4" class="template">
            <img src="/roles/template1.png" alt="..." class="img-rounded" class="center-block">
            <input type="radio" name="options" class="center-block" ng-model="tribe.imgtemplate" value="2">
        	</div>
        	<div class="col-sm-4" class="template">
						<img src="/roles/template1.png" alt="..." class="img-rounded" class="center-block">
						<input type="radio" name="options" class="center-block" ng-model="tribe.imgtemplate" value="3">
        	</div>
        </div>
      </div>
    </div>
    </form>
    <form ng-submit="tribe.create()" class="form-horizontal" validate>
  	<div class="form-group" class="row">
  		<div class="row">
  		<label for="invite" class="col-xs-6 control-label">Invite five friends to join your tribe</label>
     	</div>
     	<div class="row">
     	<div class="col-xs-6">
     		<input type="text" ng-model="tribe.invite1" class="form-control" id="invite" placeholder="enter friend's email address">
     	</div>
     	</div>
     	<div class="row">
     	<div class="col-xs-6">
     		<input type="text" ng-model="tribe.invite2" class="form-control" id="invite" placeholder="enter friend's email address">
     	</div>
     	</div>
     	<div class="row">
     	<div class="col-xs-6">
     		<input type="text" ng-model="tribe.invite3" class="form-control" id="invite" placeholder="enter friend's email address">
     	</div>
     	</div>
     	<div class="row">
     	<div class="col-xs-6">
     		<input type="text" ng-model="tribe.invite4" class="form-control" id="invite" placeholder="enter friend's email address">
     	</div>
     	</div>
     	<div class="row">
     	<div class="col-xs-6">
     		<input type="text" ng-model="tribe.invite5" class="form-control" id="invite" placeholder="enter friend's email address">
    	</div>
    	</div>
		</div>

        <input type="submit" value="Submit">
	</form>
</div>
