
<div class="container-fluid">
	<div class="row col-xs-12">
 <form ng-click="warrior.change()" class="form-horizontal" validate>
	<div class="row">
		<div class="form-group col-xs-3">
			<div class="template1 row">
     		  <button type="button" class="btn btn-default imgButton headdressbtn" data-container="body" data-toggle="popover" data-placement="right" data-content=""><img src='/roles/headdress1.png'></button>
     		  <!-- <input type="radio" name="options" ng-model="warrior.image" value="headdress"> -->
    	</div>
    </div>
    	<div class="col-xs-9 warrior">
    		<div class="row pink" ng-click="warrior.openHeaddress()">
        <img ng-src="{{warrior.headdress}}">
    		</div>
    	</div>
	</div>
	<div class="row">
			<div class="form-group col-xs-3">
			<div class="template1 row">
     		  <!-- <img ng-src="{{warrior.image}}"> -->
          <button type="button" class="btn btn-default imgButton cloakbtn" data-container="body" data-toggle="popover2" data-placement="right" data-content=""><img src='/roles/cloak1.png'></button>

         <!--  <input type="radio" name="options" ng-model="warrior.image" value="cloak"> -->
    	</div>
    </div>
    	<div class="col-xs-9 warrior">
    		<div class="row blue" ng-click="warrior.openArrows()">
    		</div>
    	</div>
	</div>
	<div class="row">
			<div class="form-group col-xs-3">
			<div class="template1 row">
     		 	<button type="button" class="btn btn-default imgButton bootsbtn" data-container="body" data-toggle="popover3" data-placement="right" data-content=""><img src='/roles/boots1.png'></button>
					<!-- <input type="radio" name="options"  ng-model="warrior.image" value="boots"> -->
    	</div>
    </div>
    	<div class="col-xs-9 warrior">
    		<div class="row red" ng-click="warrior.openFlowers()">
    		</div>
    	</div>
	</div>
</form>
</div>
</div>







