

<div class="container-fluid" id="clothes">
<div class="wrapper1">
	<div class="row col-sm-12 fill">
  <form ng-click="warrior.change()" class="form-horizontal" validate>
	 <div class="row">

		<div class="form-group col-sm-3 fillit">
			<div class="template1 row">
     		  <button type="button" class="btn btn-default imgButton headdressbtn" data-container="body" data-toggle="popover" data-placement="right" data-content=""><img src='/roles/headdress1.png'></button>
     		  <!-- <input type="radio" name="options" ng-model="warrior.image" value="headdress"> -->
    	</div>
      </div>
    	<div class="col-sm-9 warrior fillit">
    		<div class="row pink" >
        <div><img ng-src="{{warrior.headdress}}"></div>
    		</div>
    	</div>
	 </div>
	   <div class="row">
			<div class="form-group col-sm-3 fillit">
			 <div class="template1 row">
     		  <button type="button" class="btn btn-default imgButton cloakbtn" data-container="body" data-toggle="popover2" data-placement="right" data-content=""><img src='/roles/cloak1.png'></button>
      </div>
    </div>
    	<div class="col-sm-9 warrior fillit">
    		<div class="row blue imageCloak">
        <div><img ng-src="{{warrior.cloak}}"></div>
    		</div>
    	</div>
	   </div>
	   <div class="row">
			<div class="form-group col-sm-3 fillit">
			<div class="template1 row">
     		 	<button type="button" class="btn btn-default imgButton bootsbtn" data-container="body" data-toggle="popover3" data-placement="right" data-content=""><img src='/roles/boots1.png'></button>
      </div>
     </div>
    	<div class="col-sm-9 warrior fillit">
    		<div class="row red">
          <div><img ng-src="{{warrior.boots}}"></div>
    		</div>

          <button type="button" class="btn btn-default" ng-click="warrior.getQuote()"> Be A Warrior</button>
          <input type="textarea" class="ouput" ng-model="warrior.quote" value="quote">
      </div>
    </div>
  </form>

  </div>
  </div>
</div>







