/*.warrior {
	background: green;
	height:300px;

}*/
.pink {
	background: pink;
	height:100px;

}
.blue {
	background: blue;
	height:100px;
}
.red {
	background: red;
	height:100px;
}


.template1 {


}


h1 {
	color: teal;

}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

