.wrapper1{

	margin: 7%;

}

.container-fluid{
	width: auto;
	margin:0;
	height:auto;

}




#loginView {
	background-image: url(roles/warrior-background.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	height:800px;
	margin: auto;


}
.headdresses {
	text-align: center;
}
.cloaks {
	text-align: center;
}
.boots {
	text-align: center;
}
/*.container-fluid {
	margin:10px 100px;
*/
}
.imgButton {
	margin: auto;
}
.imageCloak{
	size: 75%;
}


.pink {

    position: relative;
    left: -5px;
    top: 19px;
    z-index: -1;
	/*	margin-left: 300px;*/
		text-align: center;


}
.blue {

    position: relative;
    left: 0px;
    top: 0px;
    z-index: 1;
		/*margin-left: 300px;*/
		text-align: center;



}
.red {
	/*margin-left: 300px;*/

    position: relative;
    left: 0px;
    top: -25px;
    z-index: 0;
    text-align: center;
}


}
.modal-content {
	background-color:
	color: #B31064;
}
.modal-title {
	color:#CCC60E;
	padding-left: 10px;
}
.form-control {
	background-color:#86EBDA;

}

.template1 {


}
.heading {
	display: 75%;
}


h1 {
	color: gray;

}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.loginBtn{
	margin-left: 20px;
}
.registerBtn{
	padding-right: 10px;
}
.btn-primary{
	background-color: #86EBDA;
	border-style: none;
	color:white;
	padding-left: 50px;
}
.btn-group-lg>.btn, .btn-lg{
	/*padding: 10px;*/
	font-size: 14px;


}
#animations {
	position: fixed;
	bottom: 20%;
	left:0%;
	width:100%;


}
#arrowContainer {
	width: 80%;
	height: 100px;
	background-image: url("roles/arrows.png");
	animation: play 1.50s steps(3) infinite;
}
@keyframes play {
   from { background-position: 0px; }
     to { background-position: 1500px; }
}
.swingimage{
		margin-left:80%;
		margin-top:17%;
		webkit-transform-origin: 50% 0;
    transform-origin: 50% 0;
    -webkit-animation: swinging 1.5s ease-in-out forwards infinite;
    animation: swinging 1.5s ease-in-out forwards infinite;
}



@keyframes swinging{
    0%{transform: rotate(10deg);}
    50%{transform: rotate(-5deg)}
    100%{transform: rotate(10deg);}
}

