.wrapper {
	margin:30px 100px;

}
.headdresses {
	text-align: center;
}
.container-fluid {
	margin:10px 100px;
	/*background-image: url('roles/warriorback.png');*/
}

/*.pink {
	background: pink;
	height:100px;

}
.blue {
	background: blue;
	height:100px;
}
.red {
	background: red;
	height:100px;
}*/
.modal-content {
	background-color: teal;
	color:white;
}

.template1 {


}
.heading {
	display: 75%;
}


h1 {
	color: gray;

}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}


.btn-primary{
	background-color: #7E0339;
	color:white;
}
.btn-group-lg>.btn, .btn-lg{
	padding: 10px;
	font-size: 14px;
	border-radius: none;
	margin-left:5px;
}

.imgButton {
	padding: none;

}


